<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
</head>
<body>
    <form action="{{ url_for('hr_search') }}" method = 'POST'>
        员工编号：<input type="text" name="EID" placeholder="员工编号">
        <br>
        <button>查询</button>
    </form>
    员工岗位：{{ job }}
    <br>
    工资月份：{{ date }}
    <br>
    迟到次数：{{ lateTimes }}
    <br>
    早退次数：{{ earlyTimes }}
    <br>
    请假次数：{{ leaveTimes }}
    <br>
    基本工资：{{ basicWage }}
    <br>
    加班工资：{{ overTimeWage }}
    <br>
    考勤工资：{{ checkWage }}
    <br>
    实收工资：{{ realWage }}
    <br>

</body>
</html>